
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgb(224, 241, 255);
}
.container{
    background-color: white;
    margin: 50px 100px;
    border: 1px solid aliceblue;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 2px rgb(209, 208, 208);
}

/* nav style  */
hr{
    border: none;
    height: 1px;
    background-color: #f8f6f6;
}
nav div a{
    text-decoration: none;
    padding: 25px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.724);
}
a:hover{
    text-decoration: underline dodgerblue;
    text-underline-offset: 8px;
}
nav{
    display: flex;
    padding: 10px 75px;
}
nav div.float-right{
    margin-left: auto;
}

/* container2 */
.container2{
    padding: 50px 100px 20px;
    display: flex;
}
.text{
    font-size: 50px;
    font-weight: bold;
    width: 50%;
}
span{
    color: dodgerblue;
}
button{
    font-size: 16px;
    background-color: dodgerblue;
    color: white;
    width: 120px;
    text-align: center;
    border: dodgerblue;
    border-radius: 5px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
button:hover{
    background-color: rebeccapurple;
}
.image{
    width: 50%;
    height: 300px;
    background-color: dodgerblue;
    aspect-ratio: 1;
    clip-path: shape(from 87.45% 45.02%,curve to 92.48% 56.45% with 90.99% 50.00%,curve to 92.05% 69.35% with 93.97% 62.91%,curve to 82.42% 77.15% with 90.14% 75.80%,curve to 71.01% 83.22% with 74.69% 78.49%,curve to 61.91% 91.53% with 67.33% 87.95%,curve to 49.74% 96.95% with 56.49% 95.12%,curve to 38.70% 91.46% with 42.99% 98.79%,curve to 25.99% 85.79% with 34.41% 84.13%,curve to 15.38% 80.54% with 17.56% 87.44%,curve to 14.30% 66.90% with 13.20% 73.65%,curve to 13.33% 55.08% with 15.41% 60.16%,curve to 11.20% 44.30% with 11.25% 50.00%,curve to 11.95% 32.32% with 11.14% 38.59%,curve to 16.84% 21.25% with 12.75% 26.06%,curve to 27.31% 15.38% with 20.92% 16.44%,curve to 38.83% 11.12% with 33.70% 14.32%,curve to 50.39% 5.23% with 43.95% 7.93%,curve to 62.85% 5.60% with 56.83% 2.53%,curve to 72.70% 14.03% with 68.88% 8.67%,curve to 79.11% 24.51% with 76.53% 19.39%,curve to 82.80% 34.84% with 81.69% 29.63%,curve to 87.45% 45.02% with 83.91% 40.04%);
}
img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* icon  */
.icon{
    padding: 25px 100px;
}
.icon a{
    padding: 10px;
    font-size: 20px;
}
.fa-facebook-square{
    color: 	#1877f2;
}
.fa-linkedin-square{
    color: #0A66C2;
}
.fa-github{
    color: black;
}
.fa-youtube{
    color: red;
}
.fa-twitter{
    color: rgb(0, 140, 255);
}
.fa-whatsapp{
    color: rgb(3, 155, 3);
}